@if (event) {
<ion-item
  [routerLink]="'/message/' + event.id"
  routerDirection="forward"
  [detail]="false"
  button="true"
>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ event.name }}
      <span class="date">
        @if (isIos()) {
        <ion-icon
          aria-hidden="true"
          name="chevron-forward"
          size="small"
        ></ion-icon>
        }
      </span>
    </h2>
    <div class="days-counter">
      <ion-badge [color]="event.color || 'primary'" class="days-badge">
        {{ daysSince }} {{ daysSince === 1 ? "day" : "days" }}
      </ion-badge>
    </div>
    <p class="event-date">
      <ion-icon name="calendar-outline" size="small"></ion-icon>
      Quit: {{ formatDate(event.startDate) }}
    </p>
    @if (event.description) {
    <p class="description">{{ event.description }}</p>
    }
  </ion-label>
</ion-item>
}
