<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Days Since </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Days Since </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (event of getEvents(); track event.id) {
    <app-message
      [event]="event"
      [daysSince]="getDaysSince(event.startDate)"
    ></app-message>
    } @empty {
    <div class="empty-state">
      <ion-icon name="calendar-outline"></ion-icon>
      <h2>Start Tracking Your Progress</h2>
      <p>Track days since you quit smoking, drinking, or any other habit</p>
      <p class="cta">Tap the + button to begin</p>
    </div>
    }
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addNewEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
